<h1 class="page-header">BLOG FEED</h1>

<button *ngIf="!newPost" (click)="newBlogForm()" type="button" name="button" class="btn btn-warning">
  New Post
</button>
<button [disabled]="loadingBlogs" *ngIf="!newPost" (click)="reloadBlog()" type="button" name="button" class="btn btn-default">
  <span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload
</button>

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()">
</form>

<div *ngIf="!newPost">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Post title</h3>
    </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="panel-footer">
      <strong>Posted by: </strong>gugui3z24
      <br />
      <strong>Date: </strong>June 20, 2017
      <br />
      <div>
        <strong>Likes: </strong>25
        <br />
        <strong>Dislikes: </strong>22
      </div>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
      <div class="dropdown">
       <!-- Like Button -->
       <button type="button" name="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: 21</button>
       <!-- Dropdown Menu Items -->
       <div class="dropdown-content">
         <a href="#">gugui3z24</a>
         <a href="#">jinder</a>
         <a href="#">patel</a>
       </div>
     </div>

     <!-- Dislikes Dropdown  -->
     <div class="dropdown">
       <!-- Dislike Button -->
       <button type="button" name="button" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: 15</button>
       <!-- Dropdown Menu Items -->
       <div class="dropdown-content">
         <a href="#">gugui3z24</a>
         <a href="#">jinder</a>
         <a href="#">patel</a>
       </div>
     </div>

     <ul class="list-group">
       <li class="list-group-item">
         <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment()">Post Comment</button>
       </li>
       <br />
       <!-- <form>
          <textarea name="comment" rows="10" cols="30" class="form-control"></textarea>
          <button type="button" name="button" class="btn btn-sm btn-info">Submit Post</button>
          <button type="button" name="button" class="btn btn-sm btn-danger">Cancel</button>
        </form> -->
     </ul>

  </div>
</div>
